:root {
  --accent-color: #2196F3;
  --primary-title-color: #212121;
  --secondary-title-color: #FFFFFF;
  --header-color: #000000;
  --primary-text-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

.btn {
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo_light {
  color: var(--secondary-title-color);
}

.logo_dark {
  color: var(--header-color);
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.header__btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
}

.header__btn:hover svg, .header__btnfocus svg {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-title-color);
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  transform: translate(-50% -50%);
  align-items: center;
}

.mobile-menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__item {
  margin-bottom: 32px;
}

.menu-nav__item:last-child {
  margin-bottom: 0;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__item {
  margin-bottom: 32px;
}

.menu-contacts__item:last-child {
  margin-bottom: 0;
}

.menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-social__item {
  margin-right: 20px;
}

.menu-social__item:last-child {
  margin-right: 0;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover, .social-icon:focus {
  fill: var(--secondary-title-color);
}

.social-link-footer {
  color: var(--secondary-title-color);
}

.social-icon-footer {
  fill: currentColor;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--secondary-title-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footerfocus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 460px) {
  .modal {
    width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
}

.modalbackdrop.is-hidden {
  transform: rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: black;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
}

.modal-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input:hover ~ .modal-form-icon, .modal-inputfocus ~ .modal-form-icon {
  fill: var(--accent-color);
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.textarea-label {
  margin-bottom: 0;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
  margin: 0 auto;
  background-color: var(--accent-color);
  border-color: transparent;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.accept-link {
  text-decoration: underline;
  font-family: inherit;
  color: var(--accent-color);
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 20px;
  margin-bottom: 30px;
}

.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector.svg);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.checkbox-input:checked ~ .check-box {
  background-image: url(../images/checked.svg);
}

.checkbox-input:focus ~ .check-box {
  outline: 2px solid var(--accent-color);
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--secondary-title-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: flex;
}

.header__list .header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item {
  cursor: pointer;
}

.header__item .current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #2196F3;
  border-radius: 2px;
}

.header__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts .header__item:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .contacts .header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-device-pixel-ratio: 2x), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab.jpg);
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2x), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-pc.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2x), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-pc@2x.jpg);
  }
}

.hero-header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  cursor: pointer;
  padding: 10px 32px;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantage___list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantage__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    margin: 15px;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.icon-bg {
  text-align: center;
  margin-bottom: 30px;
}

.advantage__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (min-width: 768px) {
  .advantage__header {
    text-align: start;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity-section {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity-section {
    display: block;
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.activity {
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-item {
  position: relative;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-description-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.activity-item img {
  display: block;
}

.team-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-description {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--secondary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team-description {
    padding-bottom: 30px;
  }
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-social {
  display: flex;
  justify-content: center;
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.client-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client-section {
    padding-top: 98px;
    padding-bottom: 94px;
  }
}

.client-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .client-list {
    align-items: center;
    justify-content: center;
  }
}

.client-item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .client-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}

.address {
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 9px;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-link {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-left {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-bottom: 0;
  }
}

.footer-right {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-right {
    margin-bottom: 0;
  }
}

.footer-right-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
}

.footer-form-input {
  margin-bottom: 20px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--secondary-title-color);
  height: 50px;
  width: 450px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .footer-form-input {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}

.footer-btn {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon-form {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .portfolio-btn-list {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-btn-list {
    margin-bottom: 50px;
  }
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: #F5F4FA;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio-btn {
    margin-bottom: 15px;
  }
  .portfolio-btn:nth-child(-n) {
    margin-bottom: 0;
  }
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-for-projects {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects-list {
  display: block;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects-item {
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-item:hover .overlay, .projects-item:focus .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .projects-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-decription {
  padding: 20px 24px;
  border: 1px solid #ECECEC;
}

.projects-img {
  display: block;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translateY(110%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  padding: 64px 24px;
}
/*# sourceMappingURL=main.css.map */