.activity-section {
    padding-bottom: 94px;
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);}
    
    .activity {
        margin-bottom: 50px;
    }

.activity-list {
    display: flex;
}

.activity-item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}
.activity-description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
 bottom: 0;
 left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.activity-description-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-title-color)
}
.activity-item img{
    display: block;
}