:root {
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --header-color: #000000;
    --primary-text-color: #757575;
    --contacts-color: rgba(255, 255, 255, 0.6);
}
